# ----- core deps ----- #
torch==2.2.1+cpu                 # first wheel with Python 3.12 support
--extra-index-url https://download.pytorch.org/whl/cpu

sentence-transformers==2.6.1
transformers==4.39.3
huggingface-hub==0.23.2

# ----- other packages ----- #
pandas
streamlit
numpy
# …
